@font-face {
    font-family: 'Raleway'; 
    src: url('./assets/fonts/Raleway-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}  

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);      
    padding-top: 160px;
}

nav {
    background-color: var(--bs-body-bg); 
    border-bottom: 1px solid var(--bs-border-color);
}

.toast-header h5, h4 {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

#modal-label {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

.header-criar-offcanvas {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: -0.1rem;
}

button.accordion-button {
    background-color: var(--bs-secondary-bg);
}

div.accordion-body {
    background-color: var(--bs-tertiary-bg);
}

.footer {
    background-color: var(--bs-body-bg); 
    color: var(--bs-body-color);         
    border-top: 1px solid var(--bs-border-color);
    padding: 40px 0 0 0;
}

.footer h6 {
    color: var(--bs-body-color);
}

.footer a  {
    color: var(--bs-secondary-color);
    text-decoration: none;
    font-size: 20px;
}

#footer-logo {
    border-top: 1px solid var(--bs-border-color);
    padding: 32px;
}

.card-jogo {
    background-color: var(--bs-secondary-bg);
    padding: 0 10px;
    font-size: 0.8rem;
}

.card-jogo button {
    background-color: var(--bs-tertiary-bg);
    font-size: 0.7rem;
}

.card-header {
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0rem;
}

ul {
    list-style: none;
}
